@import "tailwindcss";
body{
    background-color:white;
}
@font-face {
    font-family: font1;
    src: url("./fonts/Lausanne-300.woff2");
}
@font-face {
    font-family: font2;
    src: url("./fonts/Lausanne-500.woff2");
}
.video-wrapper video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 25% !important; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.moveLink {
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink {
    opacity: 1;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

#toggleMenu:hover .bar {
    background-color: #DF4;
}
#toggleMenu{
    cursor: pointer;
}
