@import "tailwindcss";
body{
    background-color: black;
}
@font-face {
    font-family: font1;
    src: url("./fonts/Lausanne-300.woff2");
}
@font-face {
    font-family: font2;
    src: url("./fonts/Lausanne-500.woff2");
}
.video-wrapper video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 25% !important; 
}